.carousel-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center; 
  overflow: hidden;
  max-width: 800px;
  margin: 0 auto;
  height: 300px; 
}
 
 .carousel-wrapper {
   display: flex; 
   position: relative;
   transition: transform 1.5s ease;
   z-index: 0;   
   gap: 1rem; 
   max-width: 90%;
   overflow: hidden;
  }    

  .carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    height: 300px;   
  }  
  .carousel-image {
    max-width: 100%;
  }
  .prev-button{
    position: absolute;    
    left: 0;
    }
  .next-button{
    position: absolute;
    right: 0;
  }
.prev-button, 
.next-button{
  background-color: var(--header-header-color);
  color: white;
  font-size: 2rem;
  border-radius: 8px;  
  height: 50px;
  width: 50px;
  z-index: 1;
  cursor: pointer;
  border: none;
  background-color: var(--header-header-color);
  font-size: 20px;
  letter-spacing: 4px;
  border: 1px solid var(--header-header-color);
  transition: all .3s ease;
  box-shadow: rgb(117, 27, 40) 0px 7px 0px 0px;
}
.prev-button:hover, 
.next-button:hover {
  background-color: white;
  color:  var(--header-header-color);
  box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
  cursor: pointer;
}
.prev-button:active, 
.next-button:active {
  background-color: var(--header-header-color);
  color: white;
  box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 900ms;
}

  .hidden{
    display: none;
  }
  .visible{
    display: block;
  }

  
  @media (max-width: 1110px) {
    h3 {
      font-size: 0.9rem;
    }       
    .post {
      max-width: 5rem;
    }
  
    }
    @media screen and (max-width: 630px) {
      .carousel-item {
          flex: 0 0 100%; 
          max-width: 100%;
      }
  
      .carousel-container{
        display: flex;
        flex-direction: column;   
        margin-right: auto;
        margin-left: auto;     
      }
      
      .carousel-wrapper{
        display: flex;
        flex-direction: column;
        max-width: 100%;
      }
      .post-link {
        max-width: 100%;
      }
       
      
      .prev-button, 
      .next-button{
        display: none;
      }

}
