.carousel-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-self: center;
  overflow: hidden;
  
}
.carousel-overflow {
  display: flex;
  overflow: hidden;
 }
 
 .carousel-wrapper {
   display: flex; 
   position: relative;
   transition: transform 1.5s ease;
   z-index: 0;   
   
  }
  .carousel-container div {
    position: relative;
  }       
  .carousel-item {
    flex: 0 0 33.33%; 
    justify-content: center;
    align-content: center;
    text-align: center;
    box-sizing: border-box; 
    min-width: 33.33%;           
  }
  #prevBtn,
  #nextBtn {
    z-index: 2;
  }
  .arrow {
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 2rem;
    height: 300px;
    background-color: rgb(244, 240, 240);
    border-radius: 8px;
    padding: 1rem;
    box-shadow:var(--post-shadow);
    font-size: 40px;
    border: solid 1px rgb(244, 240, 240);
    z-index: 1;
  }
  .arrow:hover {
    background-color: rgb(231, 230, 230);
    cursor: pointer;
  }
  .post {
    flex: 1;
    background-color: white;
    border-radius: 8px;
    padding: 1rem;    
    box-shadow:var(--post-shadow);
    max-width: 10rem;
  }
  
  .post img {
    max-width: 259px;
    max-height: 195px;
    border-radius: 8px;
    margin-bottom: 0.5rem;
  }
  
  @media (max-width: 1110px) {

    .carousel-container {

      
    }
    .carousel-item {
       
      flex: 0 0 50%;
      min-width: 50%;
              
    }
    .post {
      max-width: 5rem;
    }

      .carousel-overflow{
        display: flex;
        overflow: hidden;
       
      }
   
    }
    @media screen and (max-width: 630px) {
      .carousel-item {
          flex: 0 0 100%; 
          max-width: 100%;
      }
      .arrow {
        display: none;
      }
      .carousel-container{
        
      }
      .carousel-overflow{
        display: flex;
        overflow: scroll;
        max-height: 900px;
      }
      .carousel-wrapper{
        display: flex;
        flex-direction: column;
        max-width: 100%;
      }
       
      .post {
        max-height: 300px;
        margin-bottom: 1rem;
      }
}
/* moblie view, the last div in teh carousel wrapper gets hidden behinde the footer */