#name,
#email,
#subject,
#message {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    background-color: #eeeded;
}
#message {
   width: 700px;
}
.submit-cta {
  display: block;
  margin: 0 auto;
  text-align: center;
}