#name,
#email,
#subject,
#message {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    background-color: #eeeded;
}
#message {
   width: 70vw;
}
.submit-cta {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.contact-text{
  text-align: center;
  margin: 1rem;
  max-width: 80%;  
}
@media (max-width: 768px) {
  #name,
  #email,
  #subject,
  #message {
    width: 100%;
  }
  } 