.gallery {
display: flex;
justify-content: center;
padding: 2rem;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 0.5rem;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.image-grid img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}
.gallery-image{
  cursor: pointer;
}

.gallery-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  transform: scale(1.1);
  background-color: rgba(0, 0, 0, 0.9); 
}

